  <div class="w-screen h-screen bg-gray-900 flex justify-center items-center text-sm">
   <!-- <div class="flex flex-col gap-2 text-sm   justify-center items-center w-[20rem] h-[30rem]rounded-md  ">
    <input type="file" class="w-[10rem] h-[5rem]" >
    <img src="" alt="{{image}}">
    <input type="text" placeholder="First Name" class="w-[18rem] h-[3rem] outline-none rounded-md bg-gray-100 pl-2" >
    <input type="text" placeholder="Last Name" class="w-[18rem] h-[3rem] outline-none rounded-md bg-gray-100 pl-2 " >
    <input type="email" placeholder="Email" class="w-[18rem] h-[3rem] outline-none rounded-md bg-gray-100 pl-2 " >
    <input type="date" placeholder="Date Of Birth" class="w-[18rem] h-[3rem] outline-none rounded-md  bg-gray-100 pl-2 ">
    <input type="number" placeholder="Phone" class="w-[18rem] h-[3rem] outline-none rounded-md bg-gray-100 pl-2 " >
    <button  class="w-[6rem] h-10 bg-gray-300 mt-4 rounded-md">SAVE</button>
   </div> -->
    <img src="https://images.pexels.com/photos/1906157/pexels-photo-1906157.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="absolute w-[9rem] h-[9rem] rounded-full top-6 border  sm:top-[5rem] border-gray-400 object-cover ">
   <div class="w-[20rem] h-[30rem] text-left gap-5   text-white flex flex-col pt-16">
       First Name    :<p class=" text-gray-300 border-2 border-gray-600  pl-4 h-10 pt-2">Mohammed Favas</p>
       Email         :<P class=" text-gray-300 border-2 border-gray-600  pl-4 h-10 pt-2">favasktech786@gmail.com</P>
       Date Of Birth :<p class=" text-gray-300 border-2 border-gray-600  pl-4 h-10 pt-2">07/06/1999</p>
       Mobile Number :<p class=" text-gray-300 border-2 border-gray-600  pl-4 h-10 pt-2">9544860633</p>
   </div>
  </div>


<router-outlet></router-outlet>