// .example-sidenav{
//     background-color: rgba(2, 97, 83, 0.952);
// }
.example-container{
   background-color: transparent;
   height: auto;
}
.example-sidenav-content{
  position: absolute;
  background-color: transparent;
 
}
.example-sidenav{
 width: 400px;
//  height:500rem;
}